
  .heading {
    color: navy;
    text-align: center;
  }

  .list-group {
    width: 700px;
  }

  .back-btn {
    cursor: pointer;
    text-decoration: underline;
  }

  .loading-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }