.vehicle-item-container {
    width: 250px;
    cursor: pointer;

    .vehicle-header {
        background-color: orange;
        min-height: 40px;
        font-size: 16px;
        padding-left: 5px;
    }
    
    .vehicle-item {
        min-height: 150px;
        font-size: 12px;
        border: 1px solid lightgrey;
        overflow-wrap: break-word;
    }
}